<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="kr/or/ddit/db/mybatis/db.properties"/>
	
	<typeAliases>
		<typeAlias alias="userVo" type="kr.or.ddit.user.model.UserVo"/>
		<typeAlias alias="pageVo" type="kr.or.ddit.util.model.PageVo"/>
		<typeAlias alias="boardVo" type="kr.or.ddit.managebd.model.BoardVo"/>
		<typeAlias alias="postVo" type="kr.or.ddit.board.model.PostVo"/>
		<typeAlias alias="comVo" type="kr.or.ddit.board.model.ComVo"/>
		<typeAlias alias="attVo" type="kr.or.ddit.board.model.AttVo"/>
	</typeAliases>
	
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
      </dataSource>
    </environment>
  </environments>
  <mappers>
    <mapper resource="kr/or/ddit/db/mybatis/mapper/user.xml"/>
    <mapper resource="kr/or/ddit/db/mybatis/mapper/board.xml"/>
    <mapper resource="kr/or/ddit/db/mybatis/mapper/post.xml"/>
  </mappers>
</configuration>